.contens{
    display: flex;
    height: 60%;
    width: 90%;
    padding-top: 20px;
}

.parent__right{ 
    background-color: #FA8A6E;
    width: 100%;
}
.date__right{
    margin-right: 100px;

}
.date{
    color: white;
    font-size: 18px;
    text-align: right;
}
.title{
    color: white;
    font-weight: bold;
    font-size: 22px;
     border-bottom: solid 2px #E36159;
}
.name__view{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.item{
    color: white;
   width:50%;
   height: 30%;
}
.item:last-child{
    width: 10%;
    height: 100%;
    background-color: #E36159;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border-bottom: 5px solid  #E36159;
    background-size: 200%;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
}
.tag{
    color: white;
}
.url{
    display: inline;
    color: white;
}